<div *ngIf="isJob()">
  <h1 mat-dialog-title>Ingresar trabajo</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 3000px; padding: 1rem;">



          <mat-form-field>
              <input matInput [(ngModel)]="job.logo" type="text" placeholder="URL del logo">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="job.title" type="text" placeholder="Titulo">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="job.subTitle" type="text" placeholder="Subtitulo">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="job.tasks" type="text" placeholder="Descripcion del trabajo">
    </mat-form-field>
    <!--mat-form-field>
      <input matInput [(ngModel)]="job.start" type="date" placeholder="Fin">
  </mat-form-field-->
  <mat-form-field>
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="pickerjobstart" (dateChange)="updateDateJobStart($event)" [ngModel]="job.start">
    <mat-datepicker-toggle matSuffix [for]="pickerjobstart"></mat-datepicker-toggle>
    <mat-datepicker #pickerjobstart ngDefaultControl  ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fecha de fin</mat-label>
    <input matInput [matDatepicker]="pickerjobend" [ngModel]="job.end" (dateChange)="updateDateJobEnd($event)">
    <mat-datepicker-toggle matSuffix [for]="pickerjobend"></mat-datepicker-toggle>
    <mat-datepicker #pickerjobend></mat-datepicker>
  </mat-form-field>
  <!--mat-form-field>
    <input matInput  [(ngModel)]="job.end" type="date" placeholder="Fecha de fin">
</mat-form-field-->




      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="job"  cdkFocusInitial>Confirmar</button>
  </div>
</div>

<div *ngIf="isEducation()">
  <h1 mat-dialog-title>Ingresar formacion</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

          <mat-form-field>
              <input matInput [(ngModel)]="edu.logo" type="text" placeholder="URL del  logo">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="edu.title" type="text" placeholder="Titulo">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="edu.subTitle" type="text" placeholder="Subtitulo">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="edu.description" type="text" placeholder="Descripcion">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de inicio</mat-label>
          <input matInput [matDatepicker]="pickereducationstart" (dateChange)="updateDateEducationStart($event)" [ngModel]="edu.start">
          <mat-datepicker-toggle matSuffix [for]="pickereducationstart"></mat-datepicker-toggle>
          <mat-datepicker #pickereducationstart ngDefaultControl  ></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fecha de fin</mat-label>
          <input matInput [matDatepicker]="pickereducationend" [ngModel]="edu.end" (dateChange)="updateDateEducationEnd($event)">
          <mat-datepicker-toggle matSuffix [for]="pickereducationend"></mat-datepicker-toggle>
          <mat-datepicker #pickereducationend></mat-datepicker>
        </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="edu" cdkFocusInitial>Confirmar</button>
  </div>
</div>

<div *ngIf="isSkill()">
  <h1 mat-dialog-title>Ingresar aptitud</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

        <mat-form-field>
          <input matInput [(ngModel)]="skill.title" type="text" placeholder="Titulo">
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="skill.subtitle" type="text" placeholder="Subtitulo">
      </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="skill.percent" type="number" placeholder="Ingrese valor">
          </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>
</div>

<div *ngIf="isProject()">
  <h1 mat-dialog-title>Ingresar proyecto</h1>
  <div mat-dialog-content>
      <div style="display: flex;flex-direction: column; margin:1rem auto; max-width: 600px; padding: 1rem;">

          <mat-form-field>
              <input matInput [(ngModel)]="pro.title"  type="text" placeholder="Titulo">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="pro.subTitle" type="text" placeholder="Subtitulo">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="pro.description" type="text" placeholder="Descripcion">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="pro.url" type="text" placeholder="Url (si la tiene)">
        </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="pro" cdkFocusInitial>Confirmar</button>
  </div>
</div>
